body {
	background-color: green;
	padding: 20px;
	margin: 0 auto;
    display: block;	
}

.div {
	margin: 0 auto;
    display: block;
    margin-left: 43%;
}
.head {

	margin-top: 10px;
	padding: 30px;
	border-radius: 50%;
	text-align: center;
	width: 300px;
	background-color: ;
	font-size: 50px;
	color: yellow;
}

.display{
	color: yellow;
	font-size: 20px;
}

.details {
	color: yellow;
	font-size: 20px;
}