/* Bordered form */

form {

  border: 5px ;

  width: 500px;

  height: 400px;

  border-radius: 10px;

   background-color:   #f2eded;

   margin: auto;

}

title{

  font-weight: bold;

  font-size-adjust: 52px;

  color: black;

}

a{

  color: red;
  text-align-last: bottom

  font-weight: bold;

  font-size: 15px

}



body {

  background-repeat: no-repeat;

  background-size: 100%;

  font-family: 'Nunito', sans-serif;

  font-size: 18px;

  text-shadow: 1px 1px 1px #aaa;

}
text{

  color: white;

}

input[type=text]:focus {

  border: 3px solid green;

}

input[type=password]:focus {

  border: 3px solid green;

}

input[type=text], input[type=email], input[type=Age] ,input[type=number] {

  width: 100%;

  border-radius: 25px;

  padding: 12px 20px;

  margin: 8px 0;

  border: 5px solid green;

  display: inline-block;

  border: 1px solid #ccc;

  box-sizing: border-box;

}

button {

  color: white;

  background-color: cyan;

  padding: 14px 20px;

  margin: 8px 0;

  border: none;

  border-radius: 25px;

  cursor: pointer;

  width: 50%;

}
